h1,h2
{
    width: 50%;
    background-color: rgb(255, 196, 32);
    background-blend-mode: difference;
    font-family: 'Segoe UI';
    font-style: oblique;
}
h3
{
    background-color: rgb(0, 214, 71);
    background-blend-mode: difference;
    font-family: 'Segoe UI';
    text-align: center;
}

a{
    font-family: 'Cambria';
    font-size:25px; 
    background-color: rgb(99, 28, 93);
}
body
{
    background: rgb(196, 255, 255);
}

table{
    border-collapse: collapse;
    width: 25%;
}
th{
    background-color: rgb(255, 148, 148);
    font-family: 'Calibri';
    font-style: oblique;
    padding: 8px;
    text-align: left;
    border-bottom: 4px solid #ddd;
    border-color: rgb(105, 105, 255);
    font-size: 16px;
}
td{
    font-family: 'Calibri';
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-color: rgb(105, 105, 255);
    font-size: 16px;
}
p{
    width: 50%;
    text-align: center;
    font-family: 'Calibri';
    font-style: italic;
    font-size: 20px;
}
.logo
{
    box-shadow: rgb(70, 70, 70);
}
nav
{
    position: center;
    background-color: rgb(255, 255, 255);
}
nav:hover
{
    background-color: rgb(167, 157, 255);
    transition: 1s;
}
